body {
	background-color: beige;
	font-family:Verdane, Arial. san-serif;
	font-size: 120%;
}

a:link{
	color: #006747;
}

a:visited {
	color: #006747;
}

.header {
	background-color: beige;
	color: #006747;
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 220px;
	width: 100%;
	
}

.leftpanel{
	z-index:0;	
	position: absolute;
	left: 0px;
	top: 250px;
	width: 150px;
	padding: 10px;
	background-color: #CFC493;
	color: #006747;
	min-height: 100%;
}

.middlepanel{
	margin-left: 170px;
	margin-right: 180px;
	margin-top: 250px;
	background-color: beige;
	color: #006747;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-style: solid;
	border-color: #006747;
	padding: 10px;
	min-height: 100%;
}
.rightpanel{
	z-index:0;	
	position: absolute;
	right: 0px;
	top: 250px;
	width: 160px;
	padding: 10px;
	background-color: #CFC493;
	color: #006747;
	min-height: 100%;
}

.BodyContainer{
	position: absolute;
	left: 0px;
	max-width: 1200px;
	min-width: 650px;
}

.Overlay {
	position: relative;
	height: 446px;
}

.OverlayText {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #CFC493;
}